* {
  margin: 0;
  padding: 0;
}




.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer .left,
.footer .center,
.footer .right {
  display: inline-block;
}

.footer .left {
  text-align: left;
  width: 33%;
}

.footer .center {
  width: 33%;
}

.footer .right {
  text-align: right;
  width: 33%;
}



.centered_paragraph {
  text-align: center;
  margin: 0 auto;
}



.follow_text {
  display: flex;
  justify-content: flex-end;
}

.social_icons {
  display: flex;
  gap: 10px;
}

.social_icons a {
  color: #fff;
  font-size: 20px;
}

a {
  text-decoration: none;
}