.slide_img img {
  z-index: 99;
}

#parent {
  overflow: auto;
}

.carousel-inner {
  position: -webkit-sticky;
  position: sticky;
  top: -10;
  /* Adjust this value as needed */
}

.slide_img img {
  border: 2px solid black;
  border-radius: 40%;
  /* background-color: transparent; */
}