* {
  margin: 0;
  padding: 0;
}


.email {
  margin-bottom: 10px;
}

p {
  text-align: center;
}

.heading_tag {
  color: red;
  font-weight: bold;
}

.list_wrap li {
  font-family: Rubik Scribble;
  margin-bottom: 30px;
  font-size: 500;
}