* {
  margin: 0;
  padding: 0;
}

.main {
  padding: 5px 5px;
  display: flex;
  border: 2px solid #4CCD99;
  box-shadow: 5px 5px 20px #4CCD99, -2px -2px 0px #4CCD99;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 30px auto;
  min-width: 380px;
}


h4 {
  margin-top: 10px;
  text-align: center;
  color: #FFF455;
}


::placeholder {
  /* font-size: 6px; */
  font-weight: 300;
}

.btn:hover {
  color: white;
  background-color: #FFF455;
}

@media (max-width:1100px) {
  .main {
    min-width: 300px;
  }
}

@media (max-width:650px) {
  .main {
    min-width: 250px;
  }
}

@media (max-width:350px) {
  .main {
    min-width: 200px;
  }
}