/* Footer.module.css */



.footer {


  box-shadow: -5px -7px 10px #4CCD99, 0 0 20px #4CCD99;

  background-color: #007F73;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.footerContent {
  max-width: 960px;
  margin: 0 auto;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}