.account {
  max-width: 190px;
  border: 1px solid #ddd;
  display: flex;
  overflow-x: auto;
  border: 5px solid #4CCD99;
  border-radius: 10px;
  justify-content: flex-start;

}

.account::-webkit-scrollbar {
  width: 1;
}

.account .item {
  border: 3px solid #4CCD99;
  border-radius: 50px;
  margin: 10px;
  min-width: 70px;
  height: 70px;
  line-height: center;
  text-align: center;
  background-color: #ddd;
  padding: 3px;
}

span {
  color: #ffffff;
}

.right input {
  max-width: 400px;
}

.right {
  max-width: 400px;
}

@media only screen and (max-width: 500px) {

  .right {
    max-width: 300px;
  }

  .right input {
    max-width: 250px;
  }
}

@media only screen and (max-width: 350px) {

  .right {
    max-width: 200px;
  }

  .right input {
    max-width: 150px;
  }
}