.select-button {
  position: relative;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons {
  margin-top: 10px;
  background-color: #4CAF50;
  color: #212121;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 25px;
  position: absolute;
  z-index: 1;
  min-width: 100px;
  background-color: #212121;
  border: 2px solid #4CAF50;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #4CAF50;
  padding: 1px 20px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: #4CAF50;
  color: #212121;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: #4CAF50;
}

.dropdown-content #top:hover {
  border-radius: 0px 0px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.select-button:hover .buttons {
  border-radius: 15px 15px 0px 0px;
}

.select-button:hover .dropdown-content {
  display: block;
  margin-top: 50px;
}


/*custom css*/

h5 {
  white-space: nowrap;
}